<nav>
    <div class="site-title">

        <a href="/"><h1>Home</h1></a>
        <p>Using EJS</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About page</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>