<html lang="en"></html>
    
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/nav.ejs') %>
        
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime inventore cupiditate cum deserunt, earum a quidem praesentium facere eveniet dolore velit porro! Totam amet perferendis maiores minima, placeat sed?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime inventore cupiditate cum deserunt, earum a quidem praesentium facere eveniet dolore velit porro! Totam amet perferendis maiores minima, placeat sed?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime inventore cupiditate cum deserunt, earum a quidem praesentium facere eveniet dolore velit porro! Totam amet perferendis maiores minima, placeat sed?</p>

        </div>

        <%- include('./partials/footer') %>
        
        
    </body>
</html>